<div class="footer">
    <div class="row container">
        <div class="col-md-4 ">
            <h3>Newsletter</h3>
            <p>Stay up to date with all the latest from,<br> 47th Cafe</p>
        </div>
        <div class="col-md-4">
            <h3>Talk to Us</h3>
            <p>123-456-7890<br> info@mysite.com</p>
            <p>500 Terry Francois St.<br>San Francisco, CA 94158</p>
        </div>
        <div class="col-md-4">
            <h1>Instagram</h1>
            <h1>FaceBook</h1>
            <h1>Twitter</h1>
        </div>
    </div>
      
</div>
