<div class="login"></div>
<div class="row ">
    <form class="loginForm col-4 m-auto">
        <div class="form-group mb-2">
            <label >Email</label>
            <input type="email" class="form-control" ngModel name="email"/>
        </div>
        <div class="form-group mb-2">
            <label>Password</label>
            <input type="password" class="form-control" ngModel name="password"/>
        </div>
        <button class="btn btn-primary form-control mt-4"> Log In</button>
    </form>
</div>