<app-main [data]="data" ></app-main>
<div class="row section">
    <div class="col-md-6 ">
        <img class="img-fluid" src="assets/images/thisisus.jpg" alt="">
    </div>
    <div class="col-md-6">
        <div class="container">
            <h1 class="mb-4">The Best Bite in <p class="text-center">the</p> Neighborhood</h1>
            <p>
                The Best Bite in
                the Neighborhood
                I'm an extra long title. Click here to add your own text and edit me.
                 It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
            </p>
            <button class="btn btn-outline-secondary btn-lg" routerLink="/menu">View Menu</button>
        </div>
    </div>
</div>

<div class="subsection">
    <h2>Real Food. No Secret Ingredients.</h2>
</div>
<div class="row section">
    <div class="col-md-6">
        <div class="container">
            <h1>From Our Hearts<br>to Your Plate</h1>
            <p>I'm an extra long title. Click here to add your own text and edit me.
                 It’s easy. Just click “Edit Text” or double click me to add your own
                  content and make changes to the font. I’m a great place for you to tell
                   a story and let your users know a little more about you.
            </p>
            <a class="btn btn-outline-secondary btn-lg" routerLink="" fragment="details">Visit Us</a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="assets/images/visitus.JPG" class="img-fluid" alt="">
    </div>
</div>