/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'MyFont';
    src: url('../src/assets/PlayfairDisplay.ttf');
  }
  app-root h1,h2,h3,h4{
    font-family:'MyFont' ;

  }
 